/* Presupuestá */

#presupuesta {
    @include vista-flex (flex, column, center, center);
    width: 100%;
    margin: (0 $espaciado-xl);
    padding: $espaciado-l;
    overflow: hidden;

    @include media ($pc) {
        justify-content: start;
        align-items: start;
    }

    h2 {@include titulo-section;}

    h3 {@include subtitulo-section;}

    p {margin-bottom:$espaciado-m;}
}

/* Datos de Contacto */

#datosDeContacto, #detalleConsulta {
    @include vista-flex (flex, column, center, center);
    @include media ($pc) { 
        justify-content: start;
        align-items: start;
    }
}

#datosDeContacto {
    .datos {
        @include vista-flex (flex, row, start, start);
        padding: $espaciado-m;

    label { width: 135px;}
    }
}

/* Detalle Consulta */

.datos
{
    width: 300px;
}

#presupuesta__categoria {
    @include vista-flex (flex, column, start, start);

    @include media ($tablet) {
        flex-direction:row;
        justify-content:center;
    }
}

#presupuesta__medidas
{   
    @include vista-flex (flex, column, center, center);

    label {width: 255px;}

    @include media ($tablet) {
        flex-direction: row;
        justify-content: center;
        width: 500px;

        label {width: auto;}
    }

    @include media ($pc) {
        justify-content: start;
    }
}

#largo, #ancho, #alto
{
    display: flex;
    flex-direction: row;

    @include media ($tablet) {
        flex-direction: column;
        text-align: center;
    }
}

#validationTextarea
{
    height: 300px;
    width: 250px;
}

#adjuntarArchivo
{
    width: 100%;
}

#enviarConsulta {
    button {@include boton;}

    &:hover {background-color: $color-secundario;}
}

@media (min-width: $tablet) 
{
    #presupuesta h2
    {
        text-align: start;
    }

    .datos
    {
        width: 500px;
    }

    #validationTextarea
    {
        width: 500px;
    }

    #adjuntarArchivo
    {
        width: 500px;
    }
}